{% extends 'base.html'%}
{% load static %}

{% block content%}


    <div class="contactbg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contacttitlepage">
                        <h2>Thank You , Your order has been placed.</h2>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class=" col-md-6 offset-md-3">
                <div class="address">

                   
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}